#sp {
    max-width: 500px;
    margin: 0 auto;
}

#sp .cta-area {
    width: 88%;
    margin: 0 auto;
}

#sp .first-view {
    position: relative;

    text-align: center;
    width: 100%;
}
#sp .first-view__main {
    padding: 14px 0 60px;
}
#sp .first-view__main--main-text {
    padding: 10px 0;
    width: 95%;
}
#sp .first-view__main--sub-text {
    padding: 10px 0;
    width: 82%;
}
#sp .first-view__cta-area {
    position: absolute;

    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
}
#sp .first-view__cta-button {
    width: 100%;
}

#sp .job-change-example {
    padding: 60px 0 26px;
    text-align: center;
}
#sp .job-change-example__headline {
    width: 100%;
    margin: 0 auto;
}
#sp .job-change-example__headline--decoration {
    display: block;
    width: 40%;
    margin: 0 auto;
}
#sp .job-change-example__headline--main-text {
    display: block;
    width: 55%;
    margin: 0 auto;
}
#sp .job-change-example__headline--message {
    display: block;
    width: 84%;
    margin: 0 auto;
    padding: 20px 0 0;
}
#sp .job-change-example__headline--people {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 0;
}
#sp .job-change-example__card {
    margin: 0 auto;
    padding: 26px 0;
}
#sp .job-change-example__card .splide__track {
    overflow: hidden;
}
#sp .job-change-example__card .splide__pagination {
    bottom: -4px;
}
#sp .job-change-example__card .splide__pagination__page {
    width: 8px;
    height: 8px;
    line-height: 8px;
    margin: 0 4px;
    background-color: #B3C5CC;
    opacity: 0.6;
}
#sp .job-change-example__card .splide__pagination__page.is-active {
    background-color: #4C97B6;
    opacity: 1;
    transform: scale(1);
}
#sp .job-change-example--card-img {
    width: 95%;
}

#sp .reader-issue-solution {
    padding: 60px 0 10px;
    text-align: center;
}
#sp .reader-issue-solution--main-text {
    width: 80%;
}
#sp .reader-issue-solution--sub-text {
    width: 90%;
    padding: 18px 0 0;
}
#sp .reader-issue-solution--issue-1-area {
    width: 100%;
    text-align: left;
}
#sp .reader-issue-solution--issue-1 {
    width: 100%;
}
#sp .reader-issue-solution--issue-2-area {
    text-align: right;
}
#sp .reader-issue-solution--issue-2 {
    width: 92%;
}
#sp .reader-issue-solution--issue-3-area {
    text-align: center;
}
#sp .reader-issue-solution--issue-3 {
    width: 90%;
}
#sp .reader-issue-solution--issue-4-area {
    text-align: right;
}
#sp .reader-issue-solution--issue-4 {
    width: 94%;
}
#sp .reader-issue-solution--conjunction-1 {
    width: 85%;
    padding: 18px 0 0;
}
#sp .reader-issue-solution--conjunction-2 {
    width: 85%;
    padding: 18px 0 0;
}
#sp .reader-issue-solution--woman {
    width: 80%;
    padding: 18px 0;
}
#sp .reader-issue-solution--answer-1 {
    width: 92%;
    padding: 14px 0;
}
#sp .reader-issue-solution--answer-2 {
    width: 85%;
    padding: 8px 0;
}
#sp .reader-issue-solution--answer-3 {
    width: 90%;
    padding: 8px 0;
}
#sp .reader-issue-solution--advice-1,
#sp .reader-issue-solution--advice-2 {
    width: 92%;
    padding: 18px 0;
}
#sp .reader-issue-solution__cta-area {
    padding: 18px 0;
    text-align: center;
}

#sp .recommendation-reason {
    padding: 40px 0 50px;
    text-align: center;
}
#sp .recommendation-reason--man {
    width: 56%;
    padding: 18px 0;
}
#sp .recommendation-reason--headline {
    width: 90%;
    padding: 10px 0 20px;
}
#sp .recommendation-reason--point-1,
#sp .recommendation-reason--point-2,
#sp .recommendation-reason--point-3 {
    width: 90%;
    padding: 20px 0;
}
#sp .recommendation-reason__cta-area {
    padding: 8px 0;
}

#sp .floating-button {
    position: fixed;

    width: 140px;
    height: 120px;

    bottom: 12px;
    right: -5px;
    padding: 0;
    z-index: 999;
}

#sp .floating-button__img {
    width: 100%;
}

#sp .faq {
    padding: 40px 18px;
}
#sp .faq__title-area {
    margin-bottom: 32px;
}
#sp .faq__title-heading {
    font-size: min(9.2vw, 38px);
    letter-spacing: 2px;
}
#sp .faq__title-text {
    margin-top: 8px;
    font-size: 14px;
}
#sp .faq__area {
    max-width: 500px;
    margin-bottom: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}
#sp .faq__area:last-child {
    margin-bottom: 0;
}
#sp .faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 32px 20px 45px;
    font-size: 14px;
}
#sp .faq__question::before,
#sp .faq__answer::before {
    position: absolute;

    left: 16px;

    font-weight: bold;
    font-size: 18px;
}
#sp .faq__question::before {
    top: 50%;
    transform: translateY(-50%);

    color: #FFFFFF;
    content: "Q";
    line-height: 1.2;
}
#sp .faq__question::after {
    position: absolute;

    width: 7px;
    height: 7px;
    right: 4%;
    transform: translateY(-25%) rotate(45deg);

    display: block;
    content: '';
    margin-left: 10px;
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    transition: transform .5s;
    z-index: 100;
}
#sp .faq__area[open] .faq__dashed-line {
    width: 92%;

    margin: 0 auto;
    border-top: 1px dashed #FFFFFF;
}
#sp .faq__area[open] .faq__question::after {
    transform: rotate(225deg);
}
#sp .faq__answer {
    position: relative;

    opacity: 0;
    margin: 0;
    padding: 18px 20px 20px 45px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.07em;
    transition: transform .5s, opacity .5s;
}
#sp .faq__area[open] .faq__answer {
    transform: none;
    opacity: 1;
}
#sp .faq__answer::before {
    color: #FFF173;
    line-height: 1.2;
    content: "A";
}

#sp .footer {
    padding: 40px 16px 120px;
}
#sp .footer__company-logo-area {
    margin: 28px auto;

    text-align: center;
}
#sp .footer__company-logo {
    width: 36%;
}
#sp .footer__company-overview {
    padding: 10px;
}
#sp .footer__company-label {
    margin: 0 0 24px;
    font-size: 15px;
}
#sp .footer__company-detail {
    width: 94%;

    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
#sp .footer__company-detail-key {
    width: 26%;

    margin-bottom: 14px;
    font-size: 14px;
}
#sp .footer__company-detail-value {
    width: 74%;

    margin-bottom: 14px;
    font-size: 14px;
}
#sp .footer__link-area {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
#sp .footer__link-area--text {
    margin: 0 12px;
    font-size: 15px;
}
#sp .footer__copyright {
    margin: 60px auto;
    font-size: 14px;
}

/* For iPhone SE size */
@media screen and (max-width: 376px) {
}

/* For More than 500px */
@media screen and (min-width: 500px) {
    #sp {
        border-left: #F5F5F5 solid 2px;
        border-right: #F5F5F5 solid 2px;
    }
}
