#pc {
    display: none;
}
#sp {
    max-width: 600px;
    margin: 0 auto;
}
@media screen and (min-width: 600px) {
    #sp {
        border-left: #F5F5F5 solid 2px;
        border-right: #F5F5F5 solid 2px;
    }
}
#sp .cta-button {
    padding: min(3.6vw, 16px) 0;
    margin-bottom: 6px;
}
#sp .first-view {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 80vh;

    background-image: url("../img/hero.jpg");
    background-image: -webkit-image-set(url("../img/webp/hero.webp") 1x);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sp .first-view::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}
#sp .first-view__logo {
    position: absolute;
    top: 5%;
    left: 5%;

    margin: 0;

    font-size: 34px;
}
#sp .first-view__headline {
    position: absolute;
    top: 45%;
    left: 6%;

    width: 90%;

    margin: 0;
    line-height: 1.5;
    font-size: min(7.2vw, 30px);
}
.e #sp .first-view__headline {
    top: 40%;
}
#sp .first-view__cta-button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);

    width: 92%;

    margin: 0;
}
#sp .first-view__cation {
    position: absolute;
    bottom: 10.5%;

    width: 92%;

    line-height: 1.8;
}

#sp .service-summary {
    padding: 40px 12px;
}
#sp .service-summary__text {
    display: block;
    width: 90%;

    margin: 8px auto;
    line-height: 1.4;
    font-weight: normal;
    font-size: 20px;
}
#sp .service-summary__demo-article {
    display: block;
    width: 86%;

    margin: 8px auto;
}

#sp .service-highlights {
    display: flex;
    flex-direction: column;

    padding: 40px 12px;
}
#sp .service-highlights__item {
    padding: 20px;

    text-align: center;
}
#sp .service-highlights__image {
    width: 60%;
}
#sp .service-highlights__subtitle {
    margin: 8px 0;
    font-size: 20px;
}
#sp .service-highlights__description {
    margin: 14px 0;
    line-height: 1.5;
}

#sp .service-benefits {
    padding: 40px 12px;
}
#sp .service-benefits__subtitle {
    width: 95%;

    margin: 30px auto 20px;
    line-height: 1.4;
    font-weight: normal;
    font-size: 22px;
}
#sp .service-benefits__demo-my-page,
#sp .service-benefits__demo-question {
    display: block;
    width: 86%;

    margin: 8px auto;
}

#sp .service-appeal {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 64vh;

    background-image: url("../img/service-appeal.jpg");
    background-image: -webkit-image-set(url("../img/webp/service-appeal.webp") 1x);
    background-position: 48% 65%;
    background-repeat: no-repeat;
    background-size: 370% auto;
}
#sp .service-appeal::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}
#sp .service-appeal__text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    width: 86%;

    margin: 0;
    line-height: 1.5;
    font-size: min(4.8vw, 24px);
}
#sp .service-appeal__cta-button {
    position: absolute;
    bottom: 24%;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;

    margin: 0;
}

#sp .footer {
    padding: 40px 0 120px;
}
#sp .footer__logo {
    margin: 0;
    padding: 30px 0 20px;

    font-size: 32px;
}
#sp .footer__copyright {
    margin: 0;

    font-size: 12px;
}
