#pc {
    display: none;
}
#sp {
    max-width: 600px;
    margin: 0 auto;
}
@media screen and (min-width: 600px) {
    #sp {
        border: #F5F5F5 solid 2px;
    }
}
#sp .cta-button {
    padding: min(3.6vw, 16px) 0;
    margin-bottom: 6px;
}
.first-view {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 80vh;

    background-image: url("../img/first-view-sp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@supports not (background: .) {
    .first-view {
        background-image: url("../img/webp/first-view-sp.webp");
    }
}
.first-view::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}
.first-view__logo {
    position: absolute;
    top: 5%;
    left: 5%;

    margin: 0;

    font-size: 34px;
}
.first-view__headline {
    position: absolute;
    top: 45%;
    left: 6%;

    width: 90%;

    margin: 0;
    line-height: 1.5;
    font-size: min(7.2vw, 30px);
}
.first-view__cta-button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);

    width: 92%;

    margin: 0;
}
.first-view__cation {
    position: absolute;
    bottom: 11%;

    width: 92%;

    line-height: 1.8;
}

.service-summary {
    padding: 40px 12px;
}
.service-summary__text {
    display: block;
    width: 90%;

    margin: 8px auto;
    line-height: 1.4;
    font-weight: normal;
    font-size: 20px;
}
.service-summary__demo-article {
    display: block;
    width: 86%;

    margin: 8px auto;
}

.service-highlights {
    display: flex;
    flex-direction: column;

    padding: 40px 12px;
}
.service-highlights__item {
    padding: 20px;

    text-align: center;
}
.service-highlights__image {
    width: 60%;
}
.service-highlights__subtitle {
    margin: 8px 0;
    font-size: 20px;
}
.service-highlights__description {
    margin: 14px 0;
    line-height: 1.5;
}

.service-benefits {
    padding: 40px 12px;
}
.service-benefits__subtitle {
    width: 95%;

    margin: 30px auto 20px;
    line-height: 1.4;
    font-weight: normal;
    font-size: 22px;
}
.service-benefits__demo-my-page,
.service-benefits__demo-question {
    display: block;
    width: 86%;

    margin: 8px auto;
}

.service-appeal {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 50vh;

    background-image: url("../img/service-appeal-sp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@supports not (background: .) {
    .service-appeal {
        background-image: url("../img/webp/service-appeal-sp.webp");
    }
}
.service-appeal::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    content: "";
    background-color: rgba(0, 0, 0, 0.4);
}
.service-appeal__text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    width: 92%;

    margin: 0;
    line-height: 1.5;
    font-size: min(4.2vw ,18px);
}
.service-appeal__cta-button {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);

    width: 92%;

    margin: 0;
}

.footer {
    padding: 40px 0 120px;
}
.footer__logo {
    margin: 0;
    padding: 30px 0 20px;

    font-size: 32px;
}
.footer__copyright {
    margin: 0;

    font-size: 12px;
}
