/* layout */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* font style */
.text-sm {
    font-size: 14px;
}
.text-md {
    font-size: 20px;
}
.text-lg {
    font-size: 28px;
}
.text-bold {
    font-weight: bold;
}
.text-white {
    color: #FFFFFF;
}
.text-black {
    color: #2C2C32;
}
.text-gray {
    color: #CDCDCD;
}

/* background color */
.bg-primary {
    background: #5D5FEF;
}
.bg-white {
    background: #FFFFFF;
}
.bg-light-lavender {
    background: #F8F8FB;
}

/* default */
html body {
    color: #2C2C32;
}
h1,
h2,
h3 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit
}
a:active {
    color: inherit;
}
a:visited {
    color: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
.cta-button {
    display: inline-block;
    padding: 16px 0;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
